:root {
  --primary-color: #1b1c31;
  --secondary-color: #aed4f2;
  --third-color: #e9f8ff;
  --highlight-color: #ee3aa2;
  --vertgameboy-color: #78BFD6;
  --vertcontourGameboy-color: #41717B;
  --true-color: #00e5a1;
  --false-color: #ff6086;
  --border-radius: 10px;
  --border-style: dotted;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  text-align: center;
  font-size: 30px;
}
body {
  background-color: var(--primary-color);
}

body img {
  max-height: 40vh;
}

h1 {
  color: var(--third-color);
}
header>p {
  font-size: 1,02rem;
  color: var(--third-color);
}


.score p{
  font-size: 1.5rem;
  color: var(--primary-color);
  font-weight: bold;
  color: var(--third-color);
}

.gameboy p {
  color: var(--primary-color);
  font-size: 1.2rem;
}
section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 5%;
}

.score {
  
  font-size: 2rem;
  background-color: var(--highlight-color);
  padding: 20px 40px;
  max-width: 40vw;
  border-radius: var(--border-radius);
  justify-content: center;

}

.gameboy {
  background-color: var(--secondary-color);
  border-radius: 10px;
  border-style: dashed;
  border-color: var(--highlight-color);
  padding: 40px 40px;
}

.ecran {
  background-color: var(--vertgameboy-color);
  padding: 5px;
  border: 15px solid var(--vertcontourGameboy-color);
  border-radius: 10px;
}

.question {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--highlight-color);
  text-align: center;

  font-weight: bold;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--false-color);
  padding: 15px;
}

a {
  display: flex;
  padding: 10px 20px;
  margin: 10px 0px;
  background-color: var(--primary-color);
  border-radius: 10px;
  color: var(--third-color);
  transition: 0.3s all ease-in-out;
  justify-content: center;
}

footer {
  background-color: var(--primary-color);
  color: var(--third-color);
}

button {
  padding: 25px 50px;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  color: var(--primary-color);
  font-weight: 600;
  transition: 0.3s all ease-in-out;
  font-size: 1.1rem;
}

container {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  margin-bottom: 20px;
}

footer p {
  text-align: center;
  font-size: 0.8rem;
  
}
