:root {
  --primary-color: #1b1c31;
  --secondary-color: #aed4f2;
  --third-color: #e9f8ff;
  --highlight-color: #ee3aa2;
  --second-highlight-color: #ebbc5b;
  --true-color: #00e5a1;
  --false-color: #ff6086;
  --border-radius: 10px;
  --border-style: dotted;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}


body {
  background-color: var(--primary-color);
}

body img {
  max-height: 40vh;
}

h1 {
  color: var(--third-color);
}

section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 5%;
  
}

.score {
  color: var(--secondary-color);
  font-size: 2rem;
}

.gameboy {
  background-color: var(--secondary-color); 
  border-radius: 10px;
  border-style: dashed;
  border-color: var(--highlight-color);
  padding: 40px 40px 0px;
  
}

.ecran {
 background-color:#89e0c6;
 padding: 5px;
 border: 15px solid grey;
 border-radius: 1px;
 
 
}

.question {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--highlight-color);
  text-align: center;
  font-weight: bold;
    
  
  

}


li {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--false-color);
  padding: 15px;
}

a {
  display: flex;
  padding: 5px 20px;
  padding-bottom: 20px;
  background-color: #c1c1c9;
  border: none;
  border-radius: 5px;
  color: black;
  transition: 0.3s all ease-in-out;
  justify-content: center;


}
  
  footer {
  background-color: var(--primary-color);
  color: var(--third-color);
}



button {
  padding: 5px 50px;
  background-color: rgb(18, 15, 18);
  border: none;
  border-radius: 5px;
  color: var(--third-color);
  font-weight: 600;
  transition: 0.3s all ease-in-out;
}


