
:root {
  --primary-color: #1b1c31;
  --secondary-color: #aed4f2;
  --third-color: #e9f8ff;
  --highlight-color: #ee3aa2;
  --vertgameboy-color: #78bfd6;
  --vertcontourGameboy-color: #41717b;

  --true-color: #00e5a1;
  --false-color: #ff6086;
  --border-radius: 10px;
  --border-style: dotted;
  /* margin: 0;
  padding: 0; */
  font-family: Arial, Helvetica, sans-serif;
}

header { 
  display: flex;
  text-align: center;
  width: 100vw;
  background-color: var(--primary-color);
  margin-bottom: 10px;
  flex-direction: column;

}

/* container {
  display: flex;
  justify-content: center;
  align-items: center;
 } */

container.logo {
  background-color: var(--primary-color);
  display: flex;
  position: fixed;
  z-index: 0;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}


body {
  background-color: var(--primary-color);
}

header img {
  max-height: 25%; 
  max-width: 20%;
  object-fit: scale-down;
}

h1 {
  color: var(--third-color);
  font-size: clamp(1.5rem, 5vw, 5rem);
  margin-top: 5em;
  
}
header>p {
  font-size: clamp(1rem, 3vw, 2rem);
  color: var(--third-color);
  margin-block-start: 0.3em;
  margin-block-end: 0.7em;
}

.score {
  background-color: var(--highlight-color);
  padding: 5px 10px;
  max-width: 20vw;
  max-height: 20vh;
  border-radius: var(--border-radius);
}
.score p{
  font-size: clamp(0.2rem, 3vw, 3rem);
  font-weight: bold;
  color: var(--third-color);
  margin: 5px 10px;
}

.gameboy p {
  color: var(--secondary-color);
  font-size: clamp(1.2rem 5vw 5rem);
}

section {
  margin: 5%;
}

.gameboy {
  background-color: var(--secondary-color);
  border-radius: 10px;
  border-style: dashed;
  border-color: var(--highlight-color);
  padding: 1.5em;
  margin: 20px 0px;
}

.ecran {
  background-color: var(--vertgameboy-color);
  padding: 5px;
  border: 15px solid var(--vertcontourGameboy-color);
  border-radius: 10px;
  background-image: url(assets/fond-01.png) ;
}

.question {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
}


li {
  display: flex;
  justify-content: center;
  justify-items: stretch;
  align-items: center;
  padding: 0.5em;
  /* padding: 15px; */
}

ul {
  padding-inline-start: 0px;
}

a {
  display: flex;
  padding: 5px 10px;
  margin: 10px 0px;
  background-color: var(--vertcontourGameboy-color);
  border-radius: 8px;
  color: var(--third-color);
  transition: 0.3s all ease-in-out;
  justify-content: center;
}

a:hover {
  background-color: var(--primary-color);
  font-size: 1rem;
  color: var(--third-color);
}

button {
  padding: 20px 40px;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 20px;
  color: var(--primary-color);
  font-weight: 600;
  transition: 0.3s all ease-in-out;
  font-size: clamp(0.8rem, 1vw, 1rem);
}

button:hover {
  background-color: var(--vertcontourGameboy-color);
  color: var(--third-color);
}

footer {
  color: var(--third-color);
  margin-bottom: 20px;
  margin-top: 20px;
}

footer p {
  text-align: center;
  font-size: 0.8rem;
  
}

/* Résolution Ecran d'ordinateur */

@media screen and (min-width: 900px) {
  section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 50px;
    margin: 3% 20%;
  }

  .gameboy {
    margin: 20%, 80%;
    padding: 40px;
}
  header>p {
    font-size: clamp(1.5rem 7vw 7rem);
}
  header img {
    max-height: 25%;
    max-width: 12%;
    object-fit: scale-down;
  }

    header { 
  display: flex;
  text-align: center;
  width: 100vw;
  background-color: var(--primary-color);
  /* margin-left: 100px;
  margin-right: 200px; */
  flex-direction: column;

}
h1 {
  margin: 4.8em 4em 0em 4em;
}

.score {
  background-color: var(--highlight-color);
  padding: 5px 10px;
  border-radius: var(--border-radius);
}
